<!--The content below is only a placeholder and can be replaced.-->
<div style="overflow:hidden">
  <mat-toolbar class="mat-elevation-z4" color="primary" role="header" flex fxLayout="row">
    <span fxFlex>
      <a id="appName" href="{{basePath + rootUrl}}">
        Le forfait post stationnement de votre ville
      </a>
    </span>
  </mat-toolbar>
  <div class="container" flex fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="100">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
