.container {
    max-width: 1024px;
    margin: auto;
}

 #appName {
     text-decoration: none;
     color: white;
 }


 @media screen and (max-width: 410px) {
    #appName {
        font-size: 18px;
    }
  }